html {
  font-size: 12px;
}

header {
  height: 60vh;
}

header .showcase h1 {
  font-size: 5rem;
}

.underline {
  width: 40%;
}

#section-1 {
  display: block;
}

#section-1 div {
  margin-bottom: 3rem;
}

#section-3 .grid-images img {
  width:90%;
}

@media (max-width: 500px) {
   header .showcase h1 {
    font-size:4rem
  }

}